body{
  background-color: #9DD1F1;
  font-family: 'Montserrat', 'Poppins','Roboto', sans-serif;
  margin: 0;
  padding: 0;
}
.wrapper{
  width: 600px;
  height: 90%;
  max-width: 90%;
  max-height: 95%;
  margin: 10px auto;
  background-color: #D0FFD6;
  border-radius: 20px;
}
.weather-title{
  text-align: center;
  font-size: 1.8em;
  text-transform: uppercase;
  font-weight: 600;
  color: #202C59;
  margin: 0;
  padding: 1px 0;
  height: 10%;
}
.weather-notification{
  width: 94%;
  height: 10%;
  background-color: #CABAC8;
  text-align: center;
  color: #ff0000;
  font-size: 2em;
  font-weight: 700;
  padding: 3%;
  border-radius: 0.2em;
}
.weather-container{
  background-color: #f2f2f2;
  margin: 0 auto 5px;
  width: 90%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.weather-icon{
  height: 25%;
}
.weather-icon img{
  height: 100%;
  width: auto;
 
}

.temperature-value{
  font-size: 4em;
  color: #1D2F6F;
  font-weight: 700;
  height: 25%;

}
.weather-description{
  font-size: 2em;
  color: #A167A5;
  font-weight: 600;
  text-transform: uppercase;
  height: 25%;

}
.weather-location{
  font-size: 2em;
  color: #36382E;
  font-weight: 600;
  height: 25%;
}
