body{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #175676;
  font-family: 'Montserrat', 'Poppins','Roboto', sans-serif;
  margin: 0;
  padding: 0;
}
.wrapper{
  min-width: 50%;
  height:auto; 
  background-color: #D0FFD6;
  border-radius: 20px;
}
.weather-title{
  text-align: center;
  font-size: 1.8em;
  text-transform: uppercase;
  font-weight: 600;
  color: #202C59;
  margin: 0;
  padding: 0;
}
.weather-notification{
  width: 94%;
  height: auto;
  background-color: #CABAC8;
  text-align: center;
  color: #ff0000;
  font-size: 2em;
  font-weight: 700;
  padding: 3%;
  border-radius: 0.5em;

}
.weather-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f2f2f2;

}
.weather-icon img{
  height: 100%;
  width: auto;
}

.temperature-value{
  font-size: 4em;
  color: #1D2F6F;
  font-weight: 700;

}
.weather-description{
  font-size: 2em;
  color: #A167A5;
  font-weight: 600;
  text-transform: uppercase;

}
.weather-location{
  font-size: 2em;
  color: #36382E;
  font-weight: 600;

}

